@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
body{
    overflow-x: hidden;
    font-family: "Bai Jamjuree", serif;
    font-weight: 400;
    font-style: normal;
}
header{
    background-image: url("./images/bg-header-desktop.png");
    background-size: cover;  /* تغطية كامل العنصر */
    background-position: center; /* مركزة الصورة */
    background-repeat: no-repeat;
   
   
}
header h1{
    color: hsl(210, 10%, 33%);
}
header p{
    color: hsl(201, 11%, 66%);
}

.two h4{
    color: hsl(210, 10%, 33%);
}
.two p{
    color: hsl(201, 11%, 66%);

}


.three .sec h5{
    color: hsl(210, 10%, 33%);   
}
.three .sec p{
    color:  hsl(201, 11%, 66%);
}


.four h4{
    color: hsl(210, 10%, 33%);   
}
.four p{
    color:  hsl(201, 11%, 66%);
}


.five h3{
    color: hsl(210, 10%, 33%);   
}
.five p{
    color:  hsl(201, 11%, 66%);
}


.six h4{
    color: hsl(210, 10%, 33%);   
    
}
.six p{
    color:  hsl(201, 11%, 66%);
}


.eight h3{
    color: hsl(210, 10%, 33%);   
}
.eight p{
    color:  hsl(201, 11%, 66%);
}
.nine{
    background-color:  hsl(195, 6%, 87%);
}

.nine p{
    color: hsl(210, 10%, 33%);  
}

@media (min-width: 768px) { 
    .three img {
      margin-left:-50px; 
    }
  }


  